#news_content {
  width: 853px;
  min-height: 565px;
  margin-left: 20px;
  padding-top: 10px; }
  #news_content .you_are_here_right {
    top: 47px;
    left: 235px; }
  #news_content .left_column {
    margin-top: 40px;
    height: 650px;
    width: 556px;
    background: white url('/images/40428_2007535353.jpg') top left no-repeat; }
    #news_content .left_column #news_movie_container {
      margin-top: 150px; }
      #news_content .left_column #news_movie_container #news_movie_frame {
        margin-left: 20px; }
  #news_content .right_column {
    background-image: url('/images/57206_31965032.png');
    height: 515px;
    width: 294px;
    float: left; }
    #news_content .right_column a#news_home_link {
      display: block;
      height: 63px;
      width: 227px;
      background-image: url('/images/54251_4042941725.gif');
      position: absolute;
      top: 650px;
      left: 615px; }
